---
import Container from "@/components/container.astro";
import DocLayout from "@/layouts/document.astro";
import { site } from "@/consts";
import { getTagsGroupedByLetter } from "@/lib/collections";

const tags = await getTagsGroupedByLetter();
const meta = site.pages.tags;
---

<DocLayout {...meta}>
  <Container>
    <h1>Tags</h1>

    {
      Object.entries(tags).map(([letter, tags]) => {
        if (tags.length === 0) return;
        return (
          <div>
            <h2 class="my-2">{letter}</h2>
            <ul class="flex flex-wrap gap-1">
              {tags.map((tag, i) => {
                return (
                  <li class="flex">
                    <a class="underline" href={`/tags/${tag}`}>
                      {tag}
                    </a>
                    {i !== tags.length - 1 && <span class="text-muted">,</span>}
                  </li>
                );
              })}
            </ul>
          </div>
        );
      })
    }
  </Container>
</DocLayout>
