---
import Container from "@/components/container.astro";
import Divider from "@/components/divider.astro";
import GithubIcon from "@/components/icons/github-icon.astro";
---

<footer>
  <Container>
    <Divider />
  </Container>
  <Container className="py-5 flex items-baseline justify-between">
    <a href="https://anibalsantosgomez.com" target="_blank" class="font-medium"
      >me</a
    >

    <div class="flex flex-wrap gap-1 items-center">
      <a href="https://github.com/ansango" target="_blank">
        <GithubIcon />
      </a>
    </div>
  </Container>
</footer>
