---
import Search from "astro-pagefind/components/Search";
---

<script lang="ts" is:inline>
  const searcher = () => {
    const clearButton = document.querySelector(".pagefind-ui__search-clear");
    if (clearButton) {
      clearButton.innerHTML =
        '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M6.225 4.811a1 1 0 0 0-1.414 1.414L10.586 12L4.81 17.775a1 1 0 1 0 1.414 1.414L12 13.414l5.775 5.775a1 1 0 0 0 1.414-1.414L13.414 12l5.775-5.775a1 1 0 0 0-1.414-1.414L12 10.586z"/></svg>';
    }

    const closeDialog = () => {
      const dialog = document.getElementById("searcher-dialog");
      dialog.close();
      document.body.classList.remove("overflow-hidden");
    };

    const onClick = (event) => {
      const dialogFrame = document.getElementById("dialog-frame");
      const isSearcherButton = event.target.id === "searcher-button";
      const isSearcherIcon = event.target.id === "searcher-icon";
      if (isSearcherButton || isSearcherIcon) {
        return openDialog();
      }
      const isLink = "href" in (event.target || {});
      if (
        isLink ||
        (document.body.contains(event.target) &&
          !dialogFrame.contains(event.target))
      ) {
        closeDialog();
      }
    };

    const openDialog = () => {
      const dialog = document.getElementById("searcher-dialog");
      dialog.showModal();
      document.body.classList.add("overflow-hidden");
    };

    window.addEventListener("click", onClick);

    window.addEventListener("keydown", (e) => {
      if (e.key === "Escape") {
        e.preventDefault();
        closeDialog();
      }

      if (e.key === "/") {
        e.preventDefault();
        openDialog();
      }
    });
  };
  document.addEventListener("DOMContentLoaded", () => searcher());
  document.addEventListener("astro:after-swap", () => searcher());
</script>

<button
  id="searcher-button"
  class="focus:outline-none mt-[1px]"
  aria-label="Search"
  title="Search"
  ><svg
    id="searcher-icon"
    aria-label="(Press / to Search)"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="currentColor"
    ><g fill="currentColor">
      <path
        fill="currentColor"
        fill-rule="evenodd"
        d="M14.526 6.106c.5.233.74.777.537 1.215L9.885 18.424c-.204.438-.775.604-1.276.37c-.5-.233-.74-.778-.536-1.216L13.25 6.476c.204-.438.775-.604 1.276-.37"
        clip-rule="evenodd"></path>
      <path
        fill-rule="evenodd"
        d="M1 4a3 3 0 0 1 3-3h16a3 3 0 0 1 3 3v16a3 3 0 0 1-3 3H4a3 3 0 0 1-3-3zm3-1h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1"
        clip-rule="evenodd"></path></g
    ></svg
  >
</button>

<dialog
  id="searcher-dialog"
  class="backdrop:fixed backdrop:size-full backdrop:backdrop-blur-md top:0 right:0 bottom:0 left:0 size-full bg-transparent overflow-hidden"
>
  <div
    id="dialog-frame"
    class="max-w-screen-md mx-auto h-max p-10 bg-background border border-background-100 rounded-lg shadow-lg max-h-[calc(100vh-40px)] overflow-y-auto"
  >
    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{
        showImages: false,
        showSubResults: true,
        resetStyles: true,
        translations: {
          clear_search: "",
        },
      }}
    />
  </div>
</dialog>

<style is:global lang="postcss">
:root{
    --pagefind-ui-scale: 0.8;
    --pagefind-ui-primary: var(--color-content);
    --pagefind-ui-text: var(--color-content-100);
    --pagefind-ui-background: var(--color-background-100);
    --pagefind-ui-border: var(--color-background-100);
    --pagefind-ui-tag: var(--color-secondary);
    --pagefind-ui-border-width: 1.5px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: var(--font-sans);
}

.pagefind-ui__message{
  @apply !text-base !font-medium;

}
.pagefind-ui__search-input{
  @apply focus:outline-none focus:ring-0 !font-normal;
}

.pagefind-ui__result-excerpt mark{
  @apply bg-primary
}

.pagefind-ui__form::before{
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M18.319 14.433A8.001 8.001 0 0 0 6.343 3.868a8 8 0 0 0 10.564 11.976l.043.045l4.242 4.243a1 1 0 1 0 1.415-1.415l-4.243-4.242a1.116 1.116 0 0 0-.045-.042m-2.076-9.15a6 6 0 1 1-8.485 8.485a6 6 0 0 1 8.485-8.485' clip-rule='evenodd'/%3E%3C/svg%3E") !important;
  @apply !w-5 !h-5 !top-4 !left-3;
}

.pagefind-ui__result-nested .pagefind-ui__result-link::before {
  background-color: var(--color-content) !important;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 32 32'%3E%3Cpath fill='currentColor' d='M5.757 7.172l1.415-1.415l9.07 9.071v-4.585h2v8h-8v-2h4.586z'/%3E%3C/svg%3E") !important;
  @apply !w-4 !h-4;
}

</style>
